.add_new_icon {
  color: #ea7a9a;
  cursor: pointer;
}

.product_list_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.gallery_list_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.btn_unpopular {
  margin-left: 10px;
}

.inbox_message {
  white-space: pre-line;
}
